$primary-color:   #FDA403;
$background-color:#1F1F1F;
$section-color:   #F1F1F1;
$secondary-color :#C3C3C3;
$range-kire-man:#721b5c;
/**font sizes**/
$fontsizes-h1:96px;
$fontsizes-h2:64px;
$fontsizes-h3:42px;
$fontsizes-h4:24px;
$fontsizes-primary:16px;
$fontsizes-footer:12px;
/**font weights**/
$font-weight-normal:600;
$font-weight-primary:400;